.nav li.active a.active{color: #ffffff;}
.error-message{color: red;}

/* General */
.border-none {
    border:none;
}

/* Forms and buttons */
.form-group .required {
    color: #e02222;
    font-size: 12px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.file-input-label {
	padding: 0px 10px;
	display: table-cell;
	vertical-align: middle;
}
.input-group-addon {
    border: none;
}

/* Table */
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
    white-space: normal;
}